@import "settings/reset";
@import "settings/fonts";
@import "settings/variables";
@import "elements/header";
@import "elements/articles";
@import "elements/interests";
@import "elements/footer";
body {
    font-family: $main-font;
    color: $font-color;
    overflow-y: scroll;
}