section#articles {
    width: 100vw;
    background-color: rgb(235, 231, 231);
    div.articles {
        width: 90%;
        min-width: 320px;
        margin: 0 auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        @media #{$tabletP} {
            padding-top: 50px;
        }
        @media #{$tabletL},
        #{$desktop} {
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
            padding: 50px 20px 50px 20px;
        }
        @media #{$tabletL} {
            width: 1030px;
            margin: 0 auto;
        }
        @media #{$desktop} {
            width: 1300px;
            margin: 0 auto;
        }
        article.article {
            width: 100%;
            margin-bottom: 25px;
            @media #{$tabletP} {
                margin-bottom: 50px;
            }
            @media #{$tabletL},
            #{$desktop} {
                width: 32%;
                height: 90%;
            }
            img {
                width: 100%;
                margin: 0;
                display: block;
                border-radius: 10px 10px 0 0;
            }
            div.article {
                padding: 20px;
                margin: 0;
                background-color: #fff;
                border-radius: 0 0 10px 10px;
                h3.title {
                    font-weight: 800;
                    margin-bottom: 10px;
                    @media #{$tabletP} {
                        font-size: 1.6em;
                    }
                    @media #{$tabletL},
                    #{$desktop} {
                        font-size: 1.3em;
                    }
                }
                p.note {
                    font-size: .9em;
                    font-weight: 300;
                    margin-top: 0;
                    @media #{$tabletP},
                    #{$tabletL},
                    #{$desktop} {
                        font-size: 1em;
                    }
                }
                p.text {
                    font-size: .9em;
                    font-weight: 300;
                    margin-top: 40px;
                    @media #{$tabletP} {
                        font-size: 1.2em;
                        line-height: 2em;
                    }
                    @media #{$tabletL},
                    #{$desktop} {
                        font-size: 1em;
                        line-height: 2em;
                    }
                }
            }
        }
    }
}