section#articles {
    width: 100vw;
    div.articles {
        background-color: rgb(235, 231, 231);
        width: 100%;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        @media #{$tabletP} {
            padding-top: 50px;
        }
        @media #{$tabletL} {
            flex-direction: row;
            justify-content: center;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        article.article {
            width: 90%;
            margin-bottom: 25px;
            @media #{$tabletP} {
                margin-bottom: 50px;
            }
            @media #{$tabletL} {
                width: 29%;
                margin: 0 10px;
            }
            img {
                width: 100%;
                margin: 0;
                display: block;
                border-radius: 10px 10px 0 0;
            }
            div.article {
                padding: 20px;
                margin: 0;
                background-color: #fff;
                border-radius: 0 0 10px 10px;
                h3.title {
                    font-weight: 800;
                    margin-bottom: 10px;
                    @media #{$tabletP} {
                        font-size: 1.6em;
                    }
                    @media #{$tabletL} {
                        font-size: 1.7em;
                    }
                }
                p.note {
                    font-size: .9em;
                    font-weight: 300;
                    margin-top: 0;
                    @media #{$tabletP},
                    #{$tabletL} {
                        font-size: 1.2em;
                    }
                }
                p.text {
                    font-size: .9em;
                    font-weight: 300;
                    margin-top: 40px;
                    @media #{$tabletP} {
                        font-size: 1.2em;
                        line-height: 2em;
                    }
                    @media #{$tabletL} {
                        font-size: 1.2em;
                        line-height: 2em;
                    }
                }
            }
        }
    }
}