section#articles {
    width: 100vw;
    div.articles {
        background-color: rgb(235, 231, 231);
        width: 100%;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        article.article {
            width: 90%;
            margin-bottom: 25px;
            img {
                width: 100%;
                margin: 0;
                display: block;
                border-radius: 10px 10px 0 0;
            }
            div.article {
                padding: 20px;
                margin: 0;
                background-color: #fff;
                border-radius: 0 0 10px 10px;
                h3.title {
                    font-weight: 800;
                    margin-bottom: 10px;
                }
                p.note {
                    font-size: .9em;
                    font-weight: 300;
                    margin-top: 0;
                }
                p.text {
                    font-size: .9em;
                    font-weight: 300;
                    margin-top: 40px;
                }
            }
        }
    }
}