footer#footer {
    width: 100%;
    background-color: rgb(235, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    div.footer {
        width: 90%;
        @media #{$tabletP},
        #{$tabletL},
        #{$desktop} {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        @media #{$tabletL} {
            width: 1030px;
            margin: 0 auto;
        }
        @media #{$desktop} {
            width: 1300px;
            margin: 0 auto;
        }
        section.footer_links {
            padding: 40px 0;
            min-width: 320px;
            border-bottom: 1px dotted $font-color;
            @media #{$tabletP} {
                border-bottom: none;
                width: 48%;
            }
            @media #{$tabletL},
            #{$desktop} {
                border-bottom: none;
                min-width: 10px;
                width: 24%;
            }
            h3.footer_links_title {
                margin-top: 0;
                font-size: 1.1em;
                font-weight: 800;
                @media #{$tabletP} {
                    font-size: 1.4em;
                }
            }
            div.fotter_links_external {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                a.footer_links {
                    font-size: .9em;
                    line-height: 1.8em;
                    color: $font-color;
                    font-weight: 300;
                    @media #{$tabletP} {
                        line-height: 2em;
                    }
                }
            }
        }
        section.footer_contact {
            padding: 40px 0;
            min-width: 320px;
            border-bottom: 1px dotted $font-color;
            @media #{$tabletP} {
                border-bottom: none;
                width: 48%;
            }
            @media #{$tabletL},
            #{$desktop} {
                border-bottom: none;
                min-width: 20px;
                width: 24%;
            }
            h3.footer_links_title {
                margin-top: 0;
                font-size: 1.1em;
                font-weight: 800;
            }
            div.footer_social_links {
                a.footer_links {
                    display: inline-block;
                    svg {
                        width: 35px;
                        height: 35px;
                        color: $font-color;
                        &:hover {
                            color: grey;
                        }
                    }
                }
            }
            address {
                p {
                    font-style: normal;
                    line-height: 1em;
                    font-size: .9em;
                    @media #{$tabletP} {
                        line-height: 1.3em;
                    }
                }
            }
        }
        section.footer_copyrights {
            padding-bottom: 80px;
            min-width: 320px;
            @media #{$tabletP} {
                display: block;
                width: 100%;
                text-align: center;
            }
            @media #{$tabletL},
            #{$desktop} {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
            p {
                line-height: 1em;
                font-size: .9em;
                @media #{$tabletL},
                #{$desktop} {
                    padding: 10px 20px;
                    &:not(:last-child) {
                        border-right: 1px dotted $font-color;
                    }
                }
                a {
                    color: $font-color;
                }
            }
        }
    }
}