section#interests {
    width: 100%;
    div.interests {
        width: 90%;
        min-width: 320px;
        margin: 0 auto;
        @media #{$tabletL},
        #{$desktop} {
            display: flex;
            flex-direction: row-reverse;
            padding-bottom: 50px;
        }
        @media #{$tabletL} {
            width: 1030px;
            margin: 0 auto;
        }
        @media #{$desktop} {
            width: 1300px;
            margin: 0 auto;
        }
        article.interests_about {
            width: 100%;
            padding: 20px 0 40px 20px;
            border-bottom: 1px dotted grey;
            @media #{$tabletL},
            #{$desktop} {
                border-bottom: none;
            }
            h3.interests_about_title {
                font-size: 1.1em;
                font-weight: 800;
                @media #{$tabletP} {
                    font-size: 2em;
                    margin-top: 50px;
                }
                @media #{$tabletL},
                #{$desktop} {
                    font-size: 2em;
                }
            }
            p.interests_about_text {
                font-weight: 300;
                line-height: 2em;
                font-size: .9em;
                margin-bottom: 40px;
                @media #{$tabletP},
                #{$tabletL},
                #{$desktop} {
                    font-size: 1.3em;
                }
                a {
                    color: lightblue;
                }
            }
            a.standard_link {
                width: 90%;
                text-decoration: none;
                button.standard_btn {
                    width: 100%;
                    height: 65px;
                    background-color: $btn-color;
                    border-radius: 7px;
                    cursor: pointer;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    font-size: 1.2em;
                    font-weight: 800;
                    color: #fff;
                    @media #{$tabletP},
                    #{$tabletL},
                    #{$desktop} {
                        font-size: 1.4em;
                        height: 80px;
                    }
                    @media #{$tabletL},
                    #{$desktop} {
                        width: 50%;
                    }
                    svg {
                        width: 30px;
                        height: 30px;
                        color: #fff;
                        padding-right: 10px;
                        @media #{$tabletP},
                        #{$tabletL},
                        #{$desktop} {
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }
        }
        article.interests_stuff {
            width: 100%;
            padding: 20px 0 40px 0;
            @media #{$tabletL} {
                width: 50%;
                padding-top: 50px;
                padding: 20px 20px 40px 0;
            }
            @media #{$desktop} {
                width: 80%;
                padding-top: 50px;
                padding: 20px 20px 40px 0;
            }
            h3.interests_about_title {
                font-size: 1.1em;
                font-weight: 800;
            }
            div.interests_images {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 30px;
                img {
                    width: 49%;
                    border-radius: 10px;
                    margin-bottom: 10px;
                }
            }
            a.standard_link {
                width: 90%;
                text-decoration: none;
                button.standard_btn {
                    width: 100%;
                    height: 65px;
                    background-color: $btn-color;
                    border-radius: 7px;
                    cursor: pointer;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    font-size: 1.2em;
                    font-weight: 800;
                    color: #fff;
                    @media #{$tabletP},
                    #{$tabletL},
                    #{$desktop} {
                        font-size: 1.4em;
                        height: 80px;
                    }
                    @media #{$tabletL},
                    #{$desktop} {
                        width: 50%;
                    }
                    svg {
                        width: 30px;
                        height: 30px;
                        color: #fff;
                        padding-right: 10px;
                        @media #{$tabletP},
                        #{$tabletL},
                        #{$desktop} {
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }
        }
    }
}